@import url("components/button.css");
@import url("components/paper-print.css");

@import url("pages/header.css");
@import url("pages/description.css");
@import url("pages/skills.css");
@import url("pages/works.css");

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

/* Divers */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #222831;
  /* background: linear-gradient(#1f2021, #020d11); */
  border-radius: 5px;
  box-shadow: 2px 2px 10px;
}

.padding {
  padding: 30px 20px;
}

h1, h2, ul, p, li, a {
  color: #EEEEEE;
}

h1 {
  font-family: 'Manrope', sans-serif;
}
h2 {
  font-family: 'Work Sans', sans-serif;
  font-variant: small-caps;
}

p, a, .skill {
  font-family: 'Hind Siliguri', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (max-width: 992px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .hello .hello-img {
    margin-right: 3rem;
    width: 380px;
  }
}

@media (max-width: 778px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  nav ul {
    width: 100%;
    right: 0;
  }
  .hello .hello-img {
    margin-right: 3rem;
    width: 380px;
  }
}

@media (max-width: 576px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .header-container {
    flex-direction: column;
  }
  .hello .hello-img {
    height: 300px;
    object-fit: cover;
    object-position: top;
    margin: 0 auto;
  }
  .header-item {
    display: flex;
  }
  .hello h1 {
    bottom: 10px;
    left: 180px;
    font-size: 2.8rem;
  }
  .about {
    width: 60%;
    margin: 20px auto;
    padding: 0;
  }
  .about::before, .about::after {
    display: none;
  }
  .description {
    flex-direction: column;
    align-items: start;
  }
  .description .profile {
    width: 220px;
    height: 260px;
  }
  .description h2 {
    margin-bottom: 0;
  }
  .description-text {
    width: 100%;
  }
}
