.skills {
  margin-bottom: 60px;
}

.bar-container {
  background-color: #ecebe4;
  width: 80%;
  border-radius: 15px;
}

.skills h2 {
  margin: 0;
  border-bottom: 1px solid #EEE;
  padding-bottom: 8px;
}

.flex-skills {
  display: flex;
  margin-top: 24px;
}

.flex-skill {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skills p {
  margin: 16px 0 10px 0;
}

.skill {
  background-color: #63a46c;
  color: #ecebe4;
  text-align: right;
  font-size: 1rem;
  border-radius: 10px;
}

.html, .ui-ux, .design-tools {
  width: 70%;
}

.css {
  width: 60%;
}

.js {
  width: 50%;
}

.ruby {
  width: 40%;
}
