.works h2 {
  margin: 0;
  border-bottom: 1px solid #EEE;
  padding-bottom: 8px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 6%;
}

.lettering {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/lettering.jpg");
  background-size: cover;
  display: flex;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.lettering p {
  font-size: 2em;
  font-weight: 600;
  text-shadow: 2px 2px 2px #222831;
}
