.works h2 {
  letter-spacing: .2em;
  margin: 0;
  border-bottom: 1px solid #EEE;
  padding-bottom: 8px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6%;
}

.card {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 5px;
  overflow: hidden;
  transition: filter .4s, transform .6s;
}

.card:hover {
  cursor: pointer;
  filter: grayscale(80%);
  transform: scale(1.1);
}

.card a {
  font-size: 2em;
  font-weight: 600;
  text-shadow: 2px 2px 2px #222831;
}

.lettering {
  background-image: url("../../images/lettering.jpg");
}

.web-projects {
  background-image: url("../../images/web-projects.png");
}
